<% @comments.each do |c| %>
  <p>
    <%= c.user_comment %>
    <%= link_to image_tag("trash_can2.png", class:"img_size"), comment_path(c), method: :delete %>
  </p>
<% end %>

<span class="back_btn">
  <%= link_to "戻る", :back, class:"link" %>
</span>
<span class="sub_btn">
  <%= link_to 'ホーム', root_path, class:"link" %>
</span>