<p>この単語の意味は？</p>
<p><div class="quiz_word"><%= Word.find(@quizlist_w_id).user_word %></div></p>
<BR>

<%= form_tag(quiz_correct_path, method: :post) do %>
        <div>
            <label for="response">回答欄</label>
            <input type="text" id="response" name="response">
            <%= hidden_field_tag :mean, Word.find(@quizlist_w_id).mean %>
        </div>
        <input type="submit" value="答える">
<% end %>
