<% @quizlist.each |i| %>

<form action="" method="post">
        <div>
            <label for="response">名前</label>
            <input type="text" id="response" name="response">
        </div>
        <input type="submit" value="回答する">
</form>