#header {
  background-color: #ecd39c;
  padding: 10px;
  text-align: center;
  font-size: 32px;
}

#content {
  background-color: #fff8e4ff;
  text-align: center;
  padding: 35px 0px 15px 0px;
}

#footer {
  background-color: #ecd39c;
  text-align: center;
  width: 100%;
}

head {
  
}

body {
  margin: 0;
}

footer {
  
}

.submit_btn {
  background-color: #ffe599ff;
}

link_to.submit {
  
}

 h2{
margin-left:240px;
text-align: left

}

table {
  margin-left: 240px;
}