#header {
  background-color: #ecd39c;
  padding: 10px;
  text-align: center;
  font-size: 32px;
}

#content {
  background-color: #fff8e4ff;
  text-align: center;
  padding: 35px 0px 15px 0px;
  font-size: 18px;
}

#footer {
  background-color: #ecd39c;
  text-align: center;
  width: 100%;
}

#nav {
  list-style: none;
  overflow: hidden;
}

#nav li {
  width: 170px;
  text-align: left;
  float: right;
}
 
#nav li a {
  text-decoration: none;
  font-weight: bold;
}

head {
  
}

body {
  margin: 0;
}

footer {
  
}

.submit_btn {
  background-color: #ffe599ff;
  margin-left: 50%;
  font-size: 18px;
}

.submit_item {
  width: 40%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.submit_pass {
  padding-left: 0px;
  width: 50%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.input_field {
  width: 20%;
  min-width: 120px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.pass_field {
  width: 20%;
  min-width: 125px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.back_btn {
  margin-right: 0%;
}

.sub_btn {
  margin-left: 20%;
}

.img_size {
  width: 30px;
  height: 30px;
  bottom: 0;
  vertical-align: middle;
}

.quiz_word {
  font-size: 20px;
  font-weight: bold;
}

.box {
  padding: 0.5em 1em;
  margin: 2em 5em;
  font-weight: bold;
  background: #fffcf5;
  border: solid 3px #ffd966;
  border-radius: 10px;
}

.box2 {
  padding: 0.5em 1em;
  margin: 2em 5em;
  font-weight: bold;
  background: #fffcf5;
  border: solid 3px #ffd966;
  border-radius: 10px;
}

.link {
  color: #ffa500;
}

.comment_field {
  
}

h2 {
  margin-left: 120px;
  text-align: left;
}

h3 {
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: 15%;
  width: 75%;
  height: 80px;
}

table tr:nth-child(odd) {
  background-color: #ffffd2ff;
}

ul {
  list-style-type: none;
}

.input[type="text"] {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 125px;
  height: 15px;
}

.input[type="password"] {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 125px;
  height: 15px;
}